{
	"semi": true,
	"singleQuote": true,
	"printWidth": 150,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"editorconfig": true,
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-tailwindcss"]
}
