---
import type { MarkdownLayoutProps } from "astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Layout from "./Layout.astro";
import { SITE } from "@/config";

type Props = MarkdownLayoutProps<{ title: string }>;

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header />
  <Breadcrumb />
  <main id="main-content" class="app-layout pb-12">
    <div class="pb-6 mb-2 border-b border-border/50">
      <h1 class="text-2xl font-extrabold tracking-tight text-foreground sm:text-3xl lg:text-4xl">
        {frontmatter.title}
      </h1>
    </div>
    <section
      id="about"
      class="app-prose mt-8 max-w-app font-prose prose-img:border-0 prose-img:rounded-lg prose-img:shadow-sm"
    >
      <slot />
    </section>
  </main>
  <Footer />
</Layout>
